DATABASE_URL=postgresql://kolaybase:kolaybase_secret@localhost:5432/kolaybase

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=kolaybase
POSTGRES_PASSWORD=kolaybase_secret

KEYCLOAK_URL=http://localhost:8080
KEYCLOAK_PUBLIC_URL=http://localhost:8080
KEYCLOAK_ADMIN_USER=admin
KEYCLOAK_ADMIN_PASSWORD=admin
KEYCLOAK_ADMIN_CLIENT_ID=admin-cli

PORT=4000

MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_ACCESS_KEY=kolaybase
MINIO_SECRET_KEY=kolaybase_secret
MINIO_PUBLIC_ENDPOINT=localhost
MINIO_PUBLIC_PORT=9000
MINIO_PUBLIC_SSL=false
